*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shopSale{
    color: white;
    background-color:  #DB4444;
    width: 1520px;
    height: 50px;
    justify-content: center;
    padding: 14px;
    display: flex;
}
.aaa{
    margin-left: 10px;
    color: white;
}
.homeMenu{
    width: 1520px;
    height: 70px;
    border-bottom: solid gray 0.5px;
}
.h3amenu {
    display: flex;
    justify-content: center;
    padding: 27px;
    margin-right: 300px;
}
.menua{
    margin-left: 20px;
    color: black;
    text-decoration: none;
}
.menua:hover{
    margin-left: 20px;
    color: black;
    text-decoration:underline;
}
.menua1{
    color: black;
}
.shopBtn{
    background-color: #DB4444;
    color: white;
    width: 90px;
    height: 20px;
    border-radius: 5px;
    margin-left: 15px;
    border: none;
    padding-left: 28px;
    text-decoration: none;
}
#search{
 position: absolute;
 left: 1140px;   
 border: none;
}
#icon1{
    position: absolute;
    left: 1292px; 
    transition: 1s;
}
#icon1:hover{
    position: absolute;
    left: 1292px;
    transform: scale(2,2); 
    transition: 1s;
}
#icon2{
    position: absolute;
    left: 1313px; 
    transition: 1s;
}
#icon2:hover{
    position: absolute;
    left: 1313px;
    transform: scale(2,2); 
    transition: 1s;
}
#icon3{
    position: absolute;
    left: 1340px; 
    transition: 1s;
}
#icon3:hover{
    position: absolute;
    left: 1340px;
    transform: scale(2,2); 
    transition: 1s;
}
#logBtn{
    background-color:#DB4444 ;
    color: white;
    width: 80px;
    height: 20px;
    border-radius: 6px;
    position: absolute;
    left: 1433px;
    top: 74px;
    padding-left: 18px;
    text-decoration: none;
}
#username11{
    position: absolute;
    left: 1364px;
    font-weight: 600;
}

.product-container {
    display: flex;
    gap: 30px;
    max-width: 900px;
    margin: 0 auto;
}

.product-image {
    flex: 1;
}

.product-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-details {
    flex: 1;
}

.product-details h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.product-details .rating {
    color: #ffc107;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.product-details .price {
    font-size: 1.8em;
    color: #007bff;
    margin-bottom: 10px;
}

.product-details .description {
    color: #555;
    font-size: 0.95em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.add-to-cart-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s ;
    margin-top: 40px;
}

.add-to-cart-button:hover {
    background-color: #c82333;
}

.delivery-info, .return-info {
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9em;
    color: #555;
}
h1{
    margin-left: 50px;
}
.return-info{
    margin-top: 5px;
}
.delivery-info{
    margin-top: 10px;
}

.delivery-info a, .return-info a {
    color: #007bff;
    text-decoration: none;
}

.delivery-info a:hover, .return-info a:hover {
    text-decoration: underline;
}
#qqq{
    font-size: 35px;
}
#num2{
    font-size: 32px;
}
.div{
    margin-top: 20px;
}
.product-image img{
    height: 330px;
}
.bla1 {
    background-color:#DB4444;
    padding: 100px 200px;
    height: 405px;
    width: 99vw;
    position: absolute;
    top: 742px;
}
.bla2 {
    display: flex;
    justify-content: space-around;
    margin-right: 520px;
}
.bla1 h2 {
    color: white;
    margin-bottom: 30px;
}
.bla1 p {
    color: #fff8f8;
}
.bla1 div div:first-child {
    width: 250px;
    margin-right: -230px;
}
.bla1 div div:nth-child(2) {
    width: 350px;
    margin-right: 50px;
    position: absolute;
    right: 1100px;
}
.bla1 div div:nth-child(3) input {
    padding: 10px;
    border-radius: 20px;
    width: 450px;
    margin-top: 20px;
    outline: none;
}
.bla3 {
    position: relative;
    margin-right: 100px;
}
.bla1 button {
    position: absolute;
    right:  -195px;
    top: 23px;
    background-color: #FAB700;
    border: none;
    border-radius: 50%;
    padding: 9px;
    cursor: pointer;
}

#bla4 {
    color: #FAB700;
    margin-top: 15px;
    font-size: 27px;
    font-weight: 500;
}
.bla5 {
    margin-top: 60px;
    display: flex;
    width: 85vw;
    justify-content:space-between;

}
.bla5 span {
    color: #FAB700;
}
.bla5 p{
    margin-left: 250px;
    margin-top:30px;
    color: rgb(135, 126, 126);
}
.bla6 i {
    color: white;
    padding: 10px;
    margin: 5px;
}
.bla6{
    position: absolute;
    left: 1180px;
    margin-top: -40px;
}
.a12{
    width: 350px;
    margin-right: 50px;
    position: absolute;
    right: 370px;
    margin-top: -190px;
}

.app-banner {
    color: white;
    text-align: center;
    width: 330px;
    padding: 0px 0px;
    margin-top: -300px;
    margin-left: 940px;
  }
  .app-banner h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .app-banner p {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .app-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }
  .qr-code {
    width: 100px;
    height: 110px;
  }
.app{
    margin-left: 80px;
    width: 190px;
    height: 50px;
    margin-top: -60px;
}
.app2{
    width: 190px;
    height: 50px;
}